opticalFlowTest/bin/opticalFlowTest
opticalFlowTest/bin/opticalFlowTest_debug
opticalFlowTest/obj/
opticalFlowTest/opticalFlowTest.qbs.user
opticalFlowTest/build/
soundofBeer/bin/soundofBeer
soundofBeer/bin/soundofBeer_debug
soundofBeer/build/
soundofBeer/soundofBeer.qbs.user
soundofBeer/obj/
soundofBeer/bin/fmodex.dll
soundofBeer/bin/fmodexL.dll
soundofBeer/bin/freetype.dll
soundofBeer/bin/glut32.dll
soundofBeer/bin/libeay32.dll
soundofBeer/bin/soundofBeer.exe
soundofBeer/bin/soundofBeer.exp
soundofBeer/bin/soundofBeer.lib
soundofBeer/bin/soundofBeer_debug.exe
soundofBeer/bin/soundofBeer_debug.exp
soundofBeer/bin/soundofBeer_debug.ilk
soundofBeer/bin/soundofBeer_debug.lib
soundofBeer/bin/soundofBeer_debug.pdb
soundofBeer/bin/ssleay32.dll
soundofBeer/.vs/
soundofBeer/bin/FreeImage.dll
soundofBeer/bin/Zlib.dll
soundofBeer/bin/assimp.dll
soundofBeer/soundofBeer.VC.opendb
soundofBeer/soundofBeer.sdf

